<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 account-center-container">
    <form name="form" class="form-horizontal account-form" ng-submit="editpartCtrl.edit(form)">
      <div class="form-group" ng-class="{'has-error': form.firstname.$touched && form.firstname.$invalid}">
        <label for="firstname" class="col-sm-4 col-xs-12 control-label">First name</label>
        <div class="col-sm-7 col-xs-12">
          <input class="form-control" id="firstname" type="text" name="firstname" minlength="3" autocomplete="off" auto-focus required
                 ng-model="editpartCtrl.participant.firstName">
          <div ng-if="form.firstname.$touched" ng-messages="form.firstname.$error">
            <div ng-message="required" class="help-block">First name is required</div>
            <div ng-message="minlength" class="help-block">Min length is 3 characters</div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.lastname.$touched && form.lastname.$invalid}">
        <label for="lastname" class="col-sm-4 col-xs-12 control-label">Last name</label>
        <div class="col-sm-7 col-xs-12">
          <input class="form-control" id="lastname" type="text" name="lastname" minlength="3" autocomplete="off" auto-focus required
                 ng-model="editpartCtrl.participant.lastName">
          <div ng-if="form.lastname.$touched" ng-messages="form.lastname.$error">
            <div ng-message="required" class="help-block">Last name is required</div>
            <div ng-message="minlength" class="help-block">Min length is 3 characters</div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.email.$touched && form.email.$invalid}">
        <label for="email" class="col-sm-4 col-xs-12 control-label">Email</label>
        <div class="col-sm-7 col-xs-12">
          <input class="form-control" id="email" type="email" name="email" autocomplete="off" auto-focus
                 ng-model="editpartCtrl.participant.email">
          <div ng-if="form.email.$touched" ng-messages="form.email.$error">
            <div ng-message="email" class="help-block">Invalid email</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="absent" class="col-sm-4 col-xs-12 control-label">Absent</label>
        <div class="col-sm-7 col-xs-12">
          <input class="form-control" id="absent" type="checkbox" name="absent" autocomplete="off" auto-focus
                 ng-model="editpartCtrl.participant.absent">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7 col-xs-12">
          <button class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid">
            Edit
          </button>
          <button class="btn btn-danger btn-block" type="submit" ui-sref="main.participants">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
