<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-menu">
    <span class="sr-only"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse" id="collapsible-menu">
  <ul class="nav navbar-nav" data-menu="home">
    <li ui-sref-active="main.home">
      <a ui-sref="main.home">Home</a>
    </li>
    <li>
      <a>Participants</a>
    </li>
    <li class="dropdown" dropdown>
      <a class="dropdown-toggle" dropdown-toggle>Autres <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="">Item 1</a></li>
        <li><a href="">Item 2</a></li>
        <li><a href="">Item 3</a></li>
        <li><a href="">Item 4</a></li>
      </ul>
    </li>
  </ul>
</div>
