//FIXME Gulp css injection

// TOMOVE file footer.scss
footer.minimal {
  position: relative;
  height: 25px;
  bottom: 0;
  width: 100%;

  ul {
    list-style: none;

    li {
      float: left;
      margin: 3px;

      &.break:after {
        content: " |";
      }
    }
  }
}
